Backup/IdAdmin/Web References/XGateCard/xgo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sunsoft.vn" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://sunsoft.vn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sunsoft.vn">
      <s:element name="Topup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PartnerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="User_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Trace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Serial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pincode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TopupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TopupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PartnerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Trace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TopupSoapIn">
    <wsdl:part name="parameters" element="tns:Topup" />
  </wsdl:message>
  <wsdl:message name="TopupSoapOut">
    <wsdl:part name="parameters" element="tns:TopupResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransaction" />
  </wsdl:message>
  <wsdl:message name="GetTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="XGOSoap">
    <wsdl:operation name="Topup">
      <wsdl:input message="tns:TopupSoapIn" />
      <wsdl:output message="tns:TopupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <wsdl:input message="tns:GetTransactionSoapIn" />
      <wsdl:output message="tns:GetTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XGOSoap" type="tns:XGOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Topup">
      <soap:operation soapAction="http://sunsoft.vn/Topup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <soap:operation soapAction="http://sunsoft.vn/GetTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XGOSoap12" type="tns:XGOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Topup">
      <soap12:operation soapAction="http://sunsoft.vn/Topup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <soap12:operation soapAction="http://sunsoft.vn/GetTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XGO">
    <wsdl:port name="XGOSoap" binding="tns:XGOSoap">
      <soap:address location="http://card.xgo6.net/xgate/xgo.asmx" />
    </wsdl:port>
    <wsdl:port name="XGOSoap12" binding="tns:XGOSoap12">
      <soap12:address location="http://card.xgo6.net/xgate/xgo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>